extends layout
block content
      .text-center
        .display-4.text-center
          span.text-center Find places to word with wifi near you!
      hr
      .card.bg-dark
        a(href='/location')
          h4 
            span.text-primary Starcups
            span
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
            span.badge.float-right.badge-default.text-white
              | 100m
          p.address.text-white
            | 125 High Street, Reading, RG6 1PX
          p
            span.badge.badge-secondary
              | Hot drinks
            span.badge.badge-secondary
              | Food
            span.badge.badge-secondary
              | Premium WiFi
      .card.bg-dark
        a(href='/location')
          h4 
            span.text-primary Starcups
            span
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
            span.badge.float-right.badge-default.text-white
              | 100m
          p.address.text-white
            | 125 High Street, Reading, RG6 1PX
          p
            span.badge.badge-secondary
              | Hot drinks
            span.badge.badge-secondary
              | Food
            span.badge.badge-secondary
              | Premium WiFi
      .card.bg-dark
        a(href='/location')
          h4 
            span.text-primary Starcups
            span
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
            span.badge.float-right.badge-default.text-white
              | 100m
          p.address.text-white
            | 125 High Street, Reading, RG6 1PX
          p
            span.badge.badge-secondary
              | Hot drinks
            span.badge.badge-secondary
              | Food
            span.badge.badge-secondary
              | Premium WiFi
      .card.bg-dark
        a(href='/location')
          h4 
            span.text-primary Starcups
            span
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
            span.badge.float-right.badge-default.text-white
              | 100m
          p.address.text-white
            | 125 High Street, Reading, RG6 1PX
          p
            span.badge.badge-secondary
              | Hot drinks
            span.badge.badge-secondary
              | Food
            span.badge.badge-secondary
              | Premium WiFi
      .card.bg-dark
        a(href='/location')
          h4 
            span.text-primary Starcups
            span
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
            span.badge.float-right.badge-default.text-white
              | 100m
          p.address.text-white
            | 125 High Street, Reading, RG6 1PX
          p
            span.badge.badge-secondary
              | Hot drinks
            span.badge.badge-secondary
              | Food
            span.badge.badge-secondary
              | Premium WiFi
  