doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    //- link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/open-iconic-master/font/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/open-iconic-master/font/css/open-iconic.css') 
    //- link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet')
    link(rel='stylesheet' href='/Libs/fontawesome-free-5.15.1-web/css/fontawesome.min.css') 
    link(rel='stylesheet' href='/javascripts/leaflet/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.nav-item
            span.nav-item
            span.nav-item
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    nav.navbar.navbar-expand-lg.navbar-light.text-white.bg-dark
      a.navbar-brand.text-white(href='/') Loc8r
      button.navbar-toggler.text-white(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon.text-white
      #navbarSupportedContent.collapse.navbar-collapse.text-white
        ul.navbar-nav.mr-auto.text-white
          li.nav-item.active.text-white
            a.nav-link.text-white(href='#')
              | About 
              span.sr-only (current)

          
    .container
      block content
      footer.text-muted
        .container
          p &copy; Nikita Bersenev 2020
       
            

      //- footer.text-muted
        .row
          .col-xs-12
            small &copy; Simon Holmes 2014
    script(src="/javascripts/jquery-2.x-git.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/leaflet/leaflet.js")
    script(src="/javascripts/script.js")