 
extends layout
block content
      .text-center
        .display-4.text-center
          span.text-center Starcups
          hr
      .row
        .col-sm-6
          p
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star-empty
          p 125 High Street, Reading, RG6 1PX
          // Card 1
          .card
            h5.card-header.p-2 Opening hours
            .card-body.p-2
              p Monday - Friday : 7:00am - 7:00pm
              p Saturday : 8:00pm - 5:00pm
              p Sunday : closed
          // Card 2
          .card.mt-2
            h5.card-header Facilities
            h5.card-title.p-2
              span.badge.badge-secondary Hot drinks
              span.badge.badge-secondary Food
              span.badge.badge-secondary Premium wifi
        // Card 3
        .card.col-sm-6.p-0
          h5.card-header Location Map
          #mapid.card-body
      .row
        .container
          // Card 4
          .card.mt-2
            h5.card-header.p-2
              | Customer reviews
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
            h5.card-title.p-2
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
              |                         125 High Street, Reading, RG6 1PX
            p.card-text.p-2
              | What a great place. I can't say enough good things
          // Card 4
          .card.mt-2
            h5.card-header.p-2
              | Customer reviews
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
            h5.card-title.p-2
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
              |                         125 High Street, Reading, RG6 1PX
            p.card-text.p-2
              | What a great place. I can't say enough good things
          // Card 4
          .card.mt-2
            h5.card-header.p-2
              | Customer reviews
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
            h5.card-title.p-2
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
              |                         125 High Street, Reading, RG6 1PX
            p.card-text.p-2
              | What a great place. I can't say enough good things
          // Card 4
          .card.mt-2
            h5.card-header.p-2
              | Customer reviews
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
            h5.card-title.p-2
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
              |                         125 High Street, Reading, RG6 1PX
            p.card-text.p-2
              | What a great place. I can't say enough good things
          // Card 4
          .card.mt-2
            h5.card-header.p-2
              | Customer reviews
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
            h5.card-title.p-2
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star
              span.icon-star-empty
              |                         125 High Street, Reading, RG6 1PX
            p.card-text.p-2
              | What a great place. I can't say enough good things
  